.home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .headerContainer {
    width: auto;
    margin-left: 50px;
  }
  
  .headerContainer h1 {
    justify-content: center;
    align-items: center;
    font-size: 90px;
    height: 60px;
    font-weight: 50;
    color: black;
  }
  
  .headerContainer p {
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
    color: black;
  }

table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}




